.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  z-index: 10;
  background: transparent;
}
.header:has(> :only-child) {
  justify-content: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: currentColor;
  transition:
    color var(--main-transition),
    transform var(--main-transition);
}
.filters {
  display: flex;
  gap: 32px;
}

.filterButton {
  position: relative;
  cursor: pointer;
  font: var(--pop-16px-regular);
  color: var(--white);
  transition: color var(--main-transition);
}
.filterButton:hover {
  color: var(--accent-hover);
}

.filterButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--white);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform var(--main-transition);
}

.filterButton.active {
  cursor: default;
  color: var(--white);
}

.filterButton.active::after {
  transform: scaleX(1);
}
.userButtons {
  display: flex;
  gap: 24px;
}
.userButtons {
  position: relative;
  font: var(--pop-16px-regular);
  color: var(--white);
  transition: color var(--main-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.userButton:hover {
  color: var(--accent-hover);
  cursor: pointer;
}

.headerProfile {
  display: flex;
  font: var(--pop-16px-regular);
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--white);
  transition: color var(--main-transition);
}

.profileImage {
  border-radius: 24px;
}
.headerProfile:hover {
  color: var(--accent-hover);
  cursor: pointer;
}
.authLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font: var(--pop-16px-medium);
  color: var(--white);
  width: 72px;
  height: 48px;
  padding: 24px 17px;
  background-color: var(--accent-primary);
  transition:
    background-color var(--main-transition),
    transform var(--main-transition);
}
.authLink:hover {
  background-color: var(--accent-hover);
  transform: translateY(-2px);
}
.authLinksWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.registerLink {
  width: 96px;
}

.userModal {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 160px;
  padding: 8px;
  border: 1px solid var(--accent-primary);
  background: var(--sidebar-bg);
  border-radius: 12px;

  box-shadow: 0 8px 24px rgb(0 0 0 / 15%);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-6px);

  transition:
    opacity 200ms ease,
    transform 200ms ease,
    visibility 200ms ease;

  pointer-events: none;
}

.menuOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  pointer-events: auto;
}

.profileLink,
.logoutButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font: var(--pop-16px-medium);
  color: var(--white);
  width: 100%;
  min-height: 40px;
  padding: 0 12px;
  background-color: var(--accent-primary);
  transition: background-color var(--main-transition);
}
.profileLink:hover,
.logoutButton:hover {
  background-color: var(--accent-hover);
}
